<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="createPostForm" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error
        *ngIf="
          this.createPostForm.get('title').invalid &&
          this.createPostForm.get('title').touched
        "
      >
        Please enter title
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Enter Posts</mat-label>
      <textarea matInput formControlName="content"></textarea>
      <mat-error
        *ngIf="
          this.createPostForm.get('content').invalid &&
          this.createPostForm.get('content').touched
        "
      >
        Please enter content
      </mat-error>
    </mat-form-field>

    <br />

    <section class="image-content">
      <button type="button" mat-stroked-button (click)="filePicker.click()">
        Pick Image
      </button>
      <input
        type="file"
        #filePicker
        accept="image/*"
        appImageTypeValidator
        (change)="onImagePicked($event)"
      />
    </section>

    <section class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" [alt]="createPostForm.value.title" />
    </section>

    <p *ngIf="imagePreview">{{ createPostForm.get("image").value.name }}</p>

    <button class="reset-image"
      *ngIf="imagePreview"
      type="button"
      mat-stroked-button
      (click)="resetImage()"
    >
      Reset Image
    </button>

    <br>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="this.createPostForm.invalid"
    >
      Save Post
    </button>
  </form>
</mat-card>
