:host {
  display: block;
  margin-top: 1rem;
}

section {
  display: block;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}


.image-preview {
  height: 5rem;
  margin: 1rem 0 1rem;

  img {
    height: 100%;
  }

}

button.reset-image {
  margin: 1rem 0;
}


