<mat-spinner mode="indeterminate" *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>

    <section class="image-preview">
      <img [src]="post.imagePath" [alt]="post.title" />
    </section>

    <p>{{ post.content }}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">
        EDIT
      </a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noPosts *ngIf="posts.length > 0 && !isLoading">
  <p class="mat-body-1 center">There are no posts!</p>
</ng-template>
